{% extends 'base.html' %}

{% block body %}
    <h1 class="text-center my-3">My awesome shopping list</h1>
    {% if shopping_items.count > 0 %}
        <table class="table table-striped text-center">
            <thead class="text-center">
            <th width="5%">Position</th>
            <th width="20%">Item</th>
            <th width="50%">Description</th>
            <th class="text-right" width="25%"></th>
            </thead>
            <tbody>
            {% for shopping_item in shopping_items %}
                {% with counter=forloop.counter %}
                    <tr>
                        <td>{{ counter }}</td>
                        <td>{{ shopping_item.name }}</td>
                        <td class="text-center">{{ shopping_item.description }}</td>
                        <td>
                            <a href="{% url 'todo:delete-shopping-item' shopping_item.pk %}" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>

                            <a href="{% url 'todo:edit-shopping-item' shopping_item.pk %}"
                               class="btn btn-info">
                                <i class="bi bi-pencil-square"></i>
                            </a>

{#                            <a href="{% url 'todo:edit-shopping-item' shopping_item.pk %}"#}
{#                               class="btn btn-success">#}
{#                                <i class="bi bi-clipboard-check"></i>#}
{#                            </a>#}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <p class="text-center mt-5 mb-5 ">
            It looks like there are no shopping items in your list yet, please add some below !!
        </p>
    {% endif %}

    <div class="input-group mb-3">
        <a class="btn btn-primary btn-block" href="{% url 'todo:create-shopping-item' %}" type="button">Add new item</a>
    </div>

    {% if completed_items.count > 0 %}

        <hr class="m-5">

        <div class="list-group">
            <h2 class="text-center mb-3">Completed items</h2>
            {% for completed_item in completed_items %}
                <a href="{% url 'todo:edit-shopping-item' completed_item.id %}"
                   class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">
                            {{ completed_item.name }}
                        </h5>
                        <small>{{ completed_item.updated_on | date }}</small>
                    </div>
                    <p class="mb-1">
                        {{ completed_item.description }}
                    </p>
                </a>
            {% endfor %}

        </div>
    {% endif %}
{% endblock %}